<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<app-header></app-header>
<div *ngIf="!loggedInUser">
    <span>You can not see other User's Orders.</span>
</div>
<div *ngIf="loggedInUser" class="container">
    
    <div class="card">
        <div class="card-header">
            Past Orders
            <span class="backBtn">
                <button [routerLink]="['/home']" class="fa fa-long-arrow-left"></button>
            </span>
          </div>
        <div *ngIf= "orderWithProducts.length == 0">
            <span style="text-align: center;">You Don't have any Orders yet</span>
        </div>
        
        <ul *ngFor= "let order of orderWithProducts.slice().reverse()">
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner> 
            <div class= "card">
                <div class= "mainDiv">
                    <div class="card-body" class="firstDiv">
                        <div class= "title" style="font-size: medium;" > Order Id: {{order.order}} </div>
                        <div class= "title" style="font-size: small" > Date: {{order.date | date}} </div>
                    </div>
                    <div class="secondDiv">
                        <div class= "title" style="font-size: medium;" > Total Bill: {{order.amount}}</div>
                    </div>

                </div>
            </div>   
            <div class="card-body">
                <ul class= "list" *ngFor = "let product of order.products">
                    <li class="list-group-item" >
                       {{product.name}}
                    </li>
                </ul>
            </div>
        </ul>

        
        
      </div>
</div>

