.list-group-item{
    background-color: rgb(252, 248, 241);
    color: black;
    margin-left: -20px;
    border-radius: 5px;
    border: none;

}
.title{
    background-color: rgba(247, 245, 240, 0.596);
    font-weight: 500;
    overflow: auto;
}
.card-body{
    background-color: rgb(252, 248, 241);
    border-radius: 15px;
}
.list{
    margin-top: 2px;
    border-radius: 2px;
}
.mainDiv{
    width: 100%;
    display: flex;
}
.firstDiv{
    width: 90%;
}
.secondDiv{
    width: 10%;
}
.btn{
    opacity: 0.5;
}