<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <ul class= "mainProd" *ngFor = "let product of cartProducts">
                <div class="prodName">
                    <li>{{product.name}}
                    </li>
                </div>
                <div class= "deleteProd">
                    <i style="margin-right: 5%;" > x 1</i>
                </div>
            </ul>    
        </div>
        <div class="modal-footer">
            <div style="position: absolute; left: 2px;" *ngIf= "cartProducts.length > 0">
                <b>Total Amount: </b> {{totalAmount}}
            </div>
            <button *ngIf= "cartProducts.length > 0" type="button" class="btn btn-info" (click)="placeOrder()">Place Order</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
    </div>
</div>
